.app-dark-color{color: #353535;}
.app-blue-color{color: #6c6ae4;}
.app-red-color{color: #bb1616;}
.app-gray-color{color: #909090;}
.app-yellow-color{color: #F9D923;}
.app-orange-color{color: orange;}
.app-light-dark-color{color: #243A73;}
.app-light-blue-color{color: #A5BECC;}
.app-light-color{color: #fafafa;}