.app-dark-bg{background: #353535;}
.app-blue-bg{background: #615fe4;}
.app-red-bg{background: #ab2121;}
.app-gray-bg{background: #909090;}
.app-yellow-bg{background: #F9D923;}
.app-orange-bg{background: orange;}
.app-light-dark-bg{background: #243A73;}
.app-light-blue-bg{background: #d7d9dc;}
.app-light-bg{background: #fafafa;}