/* all link css files */

/* <link rel="stylesheet" href="./css/app.css">
<link rel="stylesheet" href="./css/app-bg.css">
<link rel="stylesheet" href="./css/app-color.css">
<link rel="stylesheet" href="./css/app-flex.css">
<link rel="stylesheet" href="./css/app-rgba-bg.css">
<link rel="stylesheet" href="./css/app-text-size.css">
<link rel="stylesheet" href="./css/app-btn-hover.css">
<link rel="stylesheet" href="./css/app-btn.css">
<link rel="stylesheet" href="./css/app-rgba-bg.css"> */

/* all link css files */


*{margin: 0; padding: 0; box-sizing: border-box;font-family: sans-serif;}
.rtl{direction: rtl;}
.ltr{direction: ltr;}
.pointer{cursor: pointer;}

.app-cart{box-shadow: 0; transition: 0.5s;}
.app-cart:hover{box-shadow: 3px 3px #909090;}

::-webkit-scrollbar{width: 3px;}
::-webkit-scrollbar-thumb{background-color: #112B3C; border-radius: 50px;} 

.opa-anim{ animation: 2s opa-anim ; }
@keyframes opa-anim {
  0%{opacity: 0;}
  100%{opacity: 1;}
}

.logo{width: 90px; height: 40px; }